body {
    font-family: 'Kissing Season', sans-serif;
    background-color: #f8e0e5; /* Light pink background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#container {
    position: relative;
    text-align: center;
}

#image {
    width: 200px; /* Slightly enlarged image */
    margin-bottom: 20px;
}

p {
    color: #d5006b; /* Dark pink font color */
    font-size: 2em;
    margin: 20px 0;
}

button {
    font-family: Arial, sans-serif;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.3s ease, margin 0.3s ease;
}

#yes-button {
    background-color: #4CAF50; /* Green background */
    color: white;
}

#no-button {
    background-color: #f44336; /* Red background */
    color: white;
}

button:active {
    transform: scale(1.1); /* Slight enlarge on click */
}

button.enlarged {
    transform: scale(2); /* Enlarge on next step */
}

button.enlarged-x2 {
    transform: scale(4); /* Enlarge further on next step */
}

button.enlarged-x3 {
    transform: scale(6); /* Enlarge even more */
}

#no-button.modified {
    margin-left: 40px; /* Adjust "No" button when "Yes" enlarges */
}
